.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.second-logo {
  width: 40vw;
  height: 20vh;
}