<div class="contents row">
  <% @maxes.each do |max| %>
    <div>
        <ul>
          <li>
            <%= link_to '編集',  edit_limit_path(@training, max), method: :get %>
          </li>
        </ul>
    </div>
  <% end %>
</div>
      