 <% @limits.each do |limit| %>
 
  <%= link_to edit_training_path(limit.max_id) do %>
        <div class='item-info'>
          <h3 class='item-name'>
            <%= limit.max_weight %>
          </h3>
          <% end %>
 <% end %>