// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

.training-index-contents {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: image-url("girl-in-the-gym-1391368_1920.jpg");
}

.training-main {
  padding-top: 10px;
  text-align: center;
}

//トレーニング一覧
.training-index-title{
  font-size: 50px;
  color: rgb(231, 183, 26);
  padding-bottom: 20px;
  font-family: "Nico Moji";
}

//main-trainingの編集
.tra-main-name {
  text-align: center;
  font-size: 40px;
  color: rgb(231, 183, 26);
  font-family: 'Lobster', cursive;
}

//トレーニング記述名の編集
.training-name {
  white-space: nowrap;
  font-size: 30px;
  color: rgb(202, 194, 169);
  font-family: "Nico Moji";
}

//userトレーニング一覧とマナー一覧のviewの部分

.user-nickname-contents {
  text-align: center;
}

.user-nickname-title {
  display: inline-block;
  font-size: 5vh;
}

//マックス値とセットメニュー
.max-weight-contents {
  text-align: center;
}