// Place all the styles related to the trainings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.chest {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

.back {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

.sholder {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

.arm {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

.leg {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

.stomach {
  text-align: center;
  font-size: 40px;
  color: midnightblue;
  font-family: 'Lobster', cursive;
}

//トレーニング記述名の編集

.training-name {
  font-size: 25px;
  color: black;
  background-color: greenyellow;
  width: 100vw;
}